body {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}

.portada {
    text-align: center;
    background-color: #b0ace2;
}

.titulo {
    font-family: 'Yatra One';
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 0px;
    padding-bottom: 20px;
}

/*Barra de navegacion*/
nav ul {
    background-color: blueviolet;
    padding: 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.images {
    width: 200px;
}

#description {
    background-color: #b0ace2;
    padding: 20px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.containers {
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenido {
    background-color: #b0ace2;
    width: 200px;
    margin-bottom: 10px;
    text-align: center;
}

#vertodo {
    background-color: #b0ace2;
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    color: white;
    background-color: #b0ace2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.titulos {
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}