body {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: burlywood;
}

img {
    width: 200px;
    border-radius: 10%;
}
